.NavigationHeader a{

    text-decoration: none;
    padding: 0;
    color: #79AC52;
    background-color: transparent;
    margin: 2px;
    border: 0 white;
    width: 100%;
    font-size: medium;
    letter-spacing: 2px;

    
}
.NavigationHeader a:hover {
    color: rgb(22, 41, 212);
    animation: delayAnimation 200ms forwards;
    border-radius: 10px;
  
    padding: 3px !important;
 }
 /*settings de animacao*/ 
 @keyframes delayAnimation {
    0% {
      color: #79AC52;
    }
    50% {
   
      transform: translateY(-20px);
    }
    100% {
      color: #287BA5;
    }
  }
 /*-----------------------------------------*/
.NavigationHeader button:hover{
 background-color: #287BA5;
 color: #ffffff;
 animation: 5s ease-in;

 
}
