.NavigationHeader{
    align-items: center;
    width: 100%;
    margin: 0 auto;

    
}
.NavigationHeader .banner{
    margin: 0 auto;
    width: fit-content;
}

.NavigationHeader img{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.NavigationHeader a{

    text-decoration: none;
    padding: 0;
    color: #79AC52;
    background-color: transparent;
    margin: 2px;
    border: 0 white;
    width: 100%;
    font-size: medium;
    
}
.NavigationHeader button{
    color: transparent;
    background-color: transparent;
    text-decoration: none;
    border: none;
    margin: 0 auto  !important;
    padding: 10px;
    border-radius: 3px;
}
.NavigationHeader a:hover{

   color: white;
   animation:7s ease-in;
   border-radius: 10px;
    
}
.NavigationHeader button:hover{
 background-color: #287BA5;
 color: #ffff;
 animation: 5s ease-in;

 
}
