body{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
button { 
  font-family: Roboto, sans-serif !important;
  font-weight: bold !important;
  font-size: 12px !important;
  color: #000000 !important;
  background-color: transparent !important;
  padding: 4px 17px !important;
  border: 1.5px solid #5c9f1e !important;
  border-radius: 7px !important;
  flex-direction: row!important;
  align-items: center!important;
  cursor: pointer!important;
  text-transform: uppercase!important;
  margin-top: 25px!important;
  margin-bottom: 50px!important;
  margin-left: 2px;
  justify-content: space-between;
}
a{
  text-decoration: none;
  padding: 0;
  color: #79AC52;
  background-color: transparent;
  margin: 2px;
  border: 0 white;
  width: 100%;
  font-size: medium;
  letter-spacing: 2px;
  
}
a:hover{
  text-decoration:underline ;
  color: blue;

}
label{
    color: black;
    display: flex;
}
 input{
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    justify-content: space-between;
    text-decoration: none;
    border: none;
    background-color: rgb(209, 203, 203);
    border-radius: 10px;
    
}
 form {
   padding: 40px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto; /*a solucao divina pra centralizar tudo no css*/
    border: 0.5px black solid;
    box-shadow: 4px 10px 16px 0px rgb(77, 73, 73);
    border-radius: 2rem;
    margin-bottom: 50px; /* Adicionei margem inferior para separar dos outros elementos */
    text-transform: uppercase;
    border: 2px solid #80cf3f;
    box-shadow: 4px 10px 16px 0px #80cf3f;
}
 form h2, h3{
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: center;
    flex-direction: row-reverse;
    font-weight: normal;
    margin: 0 auto;
    margin-bottom: 10%;

    
}
 form button{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    background-color: transparent;
    padding: 4px 17px;
    border: 1.5px solid #5c9f1e;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
 }